<div class="mw-100 mh-100" style="width:900px; height:600px;" id="echartgraph"></div>
<script>
    // based on prepared DOM, initialize echarts instance
    // myChart.showLoading();
    var myChart = echarts.init(document.getElementById('echartgraph'));
    var node = {{ node | tojson | safe}};
    var edge = {{ edge | tojson | safe}};
    console.log(node);
    console.log(edge);
    // myChart.hideLoading();
    option = {
        title: {
            text: 'Graph yang terbentuk'
        },
        animationDuration: 1500,
        animationEasingUpdate: 'quinticInOut',
        series: [
            {
                type: 'graph',
                layout: 'none',
                data: node,
                links: edge,
                // roam: true,
                focusNodeAdjacency: true,
                // itemStyle: {
                //     normal: {
                //         borderColor: '#fff',
                //         borderWidth: 1,
                //         shadowBlur: 10,
                //         shadowColor: 'rgba(0, 0, 0, 0.3)'
                //     }
                // },
                lineStyle: {
                    color: 'source',
                    curveness: 0.3
                },
            }
        ]
    };

    myChart.setOption(option);

    // window.onresize = function () {
    //     myChart.resize();
    // };
</script>