<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
    <script src="../static/js/lib/echart/echart4/echarts.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="h1 text-center text-danger text-capitalize">Information Retrieval</h2>
                    </div>
                    <div class="card-body">
                        <form id="myForm">
                            <div>
                                <label class="mr-sm-2" for="inlineFormCustomSelect">Search</label>
                                <div class="input-group">
                                    <input type="text" class="form-control rounded-0" id="query" name="query" placeholder="Enter Query" required>
                                    <div class="input-group-prepend">
                                        <button type="submit" id="submitForm" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>                            
                            <div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline1" value="cosine" name="optradio" class="custom-control-input" checked>
                                    <label class="custom-control-label" for="customRadioInline1">Cosine Method</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" value="fuzzy" name="optradio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2">Fuzzy Token Set Ratio Method</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="dsd"></div>
                    <div class="card-footer" id="loading">
                        <div id="pesan"></div>
                        <div id="tampilchart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- All Jquery -->
    {% include "script.html" %}
    <script>
        $(function () {
            //ketika submit button d click
            $("#submitForm").click(function () {
                $("#submitForm").attr("disabled", true);
                // console.log($("#myForm").serialize());
                var dat = $("input[name='optradio']:checked").val();
                if(dat=='cosine'){
                    var url = '/cosine';
                }else{
                    var url = '/fuzzy';
                }
                //do ajax proses
                $.ajax({
                    url: url,
                    type: "POST", //form method
                    data: $("#myForm").serialize(),
                    // contentType: 'application/json;charset=UTF-8', # if centnt type json
                    contentType: 'application/x-www-form-urlencoded', //encode data content type
                    dataType: "json", //misal kita ingin format datanya brupa json
                    beforeSend: function () {
                        //lakukan apasaja sambil menunggu proses selesai disini
                        //misal tampilkan loading                   
                        $('#loading').loading(
                            {
                                theme:'dark',
                                message: 'Please wait, maybe this take several time to process'
                            }
                        );
                    },
                    success: function (data) { //or response
                        if (data.error==true){
                            $('#loading').loading('stop');
                            console.log("please input a query");
                            $("#pesan").html('<div class="alert alert-danger" role="alert"><strong>please input a query</strong></div>');
                        }else{                            
                            $('#loading').loading({ message: "loading graph" });
                            $("#pesan").html('<div class="alert alert-info text-center text-capitalize" role="alert">Graph <strong>'+data.type+'</strong> yang terbentuk</strong></div>');
                            $('#tampilchart').html("<div class='mw-100 mh-100' style='width:2000px; height:600px;' id='echartgraph'></div>");
                            // based on prepared DOM, initialize echarts instance
                            var myChart = echarts.init(document.getElementById('echartgraph'));
                            var dt = data.scatter;
                            option = {                              
                                xAxis: {
                                    show: false
                                },
                                yAxis: {
                                    show: false,
                                },
                                tooltip:{
                                    position: "top"
                                },
                                toolbox: {
                                    left: 'center',
                                    top:'top',
                                    feature: {
                                        dataZoom: {
                                            title:{
                                                zoom:"zoom /select data",
                                                back:"reset to normal"
                                            }
                                        }
                                    }
                                },
                                dataZoom: [{
                                    type: 'slider',
                                    orient: 'vertical'
                                }],
                                series:dt
                            };
                            myChart.setOption(option);
                            window.onresize = function () {
                                myChart.resize();
                            };
                            $('#loading').loading('stop');
                        }                        
                        $("#submitForm").removeAttr("disabled");
                    },
                    error: function (xhr, Status, err) {
                        $('#loading').loading('stop');
                        console.log("Something wrong :(");                        
                        $("#submitForm").removeAttr("disabled");
                        // console.log(err);
                    }
                    }); 
                    return false;
                })
            });
    </script>
</body>

</html>